<h1> Movie Details for <%= @movie.title %> </h1>

<h4>Title: <%= @movie.title %></h4>
<h4>Creation Year: <%= @movie.creation_year %></h4>
<h4>Genre: <%= @movie.genre %></h4>

<% @movie.actor_youngest_to_oldest.each do |actor|%>
   <h4>Actor Name listed youngest to oldest:  <%= actor.name %></h4>
<% end %>

<h4>Actor Average Age: <%= @movie.actor_average_age  %>

<h2> Search for Actors <h2>
<%= form_tag "/movies/#{@movie.id}", method: :get do %>
  <%= label_tag "Actor Search" %>
  <%= text_field_tag "Actor Search"%> 

  <%= submit_tag 'Submit' %>
<% end %>

<% if @actor == nil %>
<% else %>
<%= @actor.name %>
<% end %>
